.itad_extra_elem {
	all: initial !important;
	visibility: inherit !important;
	opacity: inherit !important;
	font-size: inherit !important;
	pointer-events: inherit !important;
	margin: 0 4px !important;
    display:inline-block !important;
    text-decoration: none !important;
}
.itad_extra_elem {
    text-decoration: none !important;
}

#itad_info_container {
    all: initial;
    font-family: sans-serif;
    background-color: #036db1;
    padding: 2px;
    font-size: 12px;
	width: 190px;
    min-height:75px;
    position: absolute;
    transition-property: visibility, opacity;
    transition-duration: 0s, .4s;
    z-index: 1000009;
    word-break: break-word;
	text-align: center;
	color: #ccc;
	text-decoration: none;
    border-radius:2px;
    border:1px solid black;
    display:flex;
    flex-direction: column;
}

#itad_info_container.itad_info_container_hidden {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
}

#itad_info_container a {
	text-decoration: none;
}

#itad_info_container a:link:hover {
	color: #2196F3;
}

#itad_info_container_header {
	color: #ccc !important;
	font-size: 0.95em;
	padding: 2px;
	display: inline-block;
}

.itad_info_elem {
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.itad_info_elem_price {
	background-color: #FFF8E1;
    font-size: 0.92em;
    padding: 4px;
	margin: 2px 4px;
	display: block;
    font-weight: normal;
    color: #d2691e;
	border-radius: 2px;
}

.itad_info_elem_price_lowest {
	color: #0d47a1;
}

.itad_info_elem_highlighted {
    font-size: 1.6em;
    padding: 2px;
    margin:1px 0;
    font-weight: bold;
}

.itad_info_elem_price.itad_info_elem_price_lowest .itad_info_elem_highlighted {
    font-weight: normal;
}

.itad_info_elem_cut {
	display: inline-block;
    color: #4CAF50;
    margin: 0 4px 0 2px;
    font-size:0.8em;
}

.itad_info_elem_info {
	margin: 12px;
}

.itad_info_elem_btn {
    display: block;
    padding: 2px;
    font-size: 0.95em;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    border-radius: 2px;
	background-color: #f0f8ff;
    margin: 2px 4px;
}

.itad_info_elem_btn--noprice {
    background-color: #f0f8ff;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}

.itad_icon {
    height: 1em;
    display: inline-block;
    vertical-align:middle;
    position:relative;
    bottom:0.1em;
    fill:#036db1;
	width: auto;
}

.itad_icon--main {
    font-size: 0.8em;
    padding:3px;
    background-color:#036db1;
    border:1px solid black;
    border-radius:2px;
    color:white;
    display:inline;
}

.itad_icon--price {
    color:#4caf50;
}
.itad_icon--historylow {
    color:#4caf50;
    height:0.8em;
}
.itad_icon--history {
    bottom:0;
}

.itad_icon--spinner {
	width: 100%;
	height: 24px;
	text-align: center;
	margin: 24px 0;
    -webkit-animation: spin 1s infinite steps(8);
    animation: spin 1s infinite steps(8);
	color:#048ce3;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
