.itad_extra_elem {
	all: initial !important;
	visibility: inherit !important;
	opacity: inherit !important;
	font-size: inherit !important;
	pointer-events: inherit !important;
	margin: 0 4px !important;
}

#itad_info_container {
    all: initial;
    font-family: sans-serif;
    background-color: #036db1;
    padding: 2px;
    font-size: 11px;
	width: 180px;
    position: absolute;
    transition-property: visibility, opacity;
    transition-duration: 0s, .4s;
    z-index: 1000009;
    word-break: break-word;
	text-align: center;
	color: #ccc;
	text-decoration: none;
}

#itad_info_container.itad_info_container_hidden {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
}

#itad_info_container a {
	text-decoration: none;
}

#itad_info_container a:link:hover {
	color: #2196F3;
}

#itad_info_container_header {
	color: #ccc !important;
	font-size: 9px;
	padding: 2px;
	display: inline-block;
}

.itad_info_elem_price {
	background-color: #FFF8E1;
    font-size: 10px;
    padding: 4px;
	margin: 2px 4px;
	display: block;
    font-weight: normal;
    color: #d2691e;
	border-radius: 3px;
}

.itad_info_elem_price_lowest {
	color: #0d47a1;
}

.itad_info_elem_highlighted {
    font-size: 15px;
    padding: 2px;
    font-weight: bold;
}

.itad_info_elem_price.itad_info_elem_price_lowest .itad_info_elem_highlighted {
    font-weight: normal;
}

.itad_info_elem_cut {
	display: inline-block;
    color: #4CAF50;
    margin: 0 4px 0 2px;
}

.itad_info_elem_btn {
    display: block;
    padding: 2px;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    border-radius: 3px;
	background-color: #f0f8ff;
    margin: 2px 4px;
}