span.itad_everywhere {
	all: initial !important;
	visibility: inherit !important;
	opacity: inherit !important;
	pointer-events: inherit !important;
	margin: 0 4px !important;
    display:inline-block !important;
    text-decoration: none !important;
    font-family:'Arial', sans-serif !important;
    color:#2196f3 !important;
    background: #1a1c21 !important;
    font-weight:bold !important;
    border:1px solid black !important;
    border-radius:2px !important;
    font-size:0.95em !important;
    padding: 1px 2px !important;
    line-height:0.95 !important;
}

#itad_info_container {
    all: initial;
    font-family: 'Arial', sans-serif;
    background-color: #1a1c21;
    padding: 2px;
    font-size: 12px;
	width: 190px;
    min-height:75px;
    position: absolute;
    transition-property: visibility, opacity;
    transition-duration: 0s, .4s;
    z-index: 1000009;
    word-break: break-word;
	text-align: center;
	color: #ccc;
	text-decoration: none;
    border-radius:2px;
    border:1px solid black;
    display:flex;
    flex-direction: column;
}

#itad_info_container.itad_info_container_hidden {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
}

#itad_info_container a {
    color:white !important;
	text-decoration: none;
    border-bottom:1px solid transparent;
}

#itad_info_container a:hover {
    color:white;
	border-color: #2196f3;
}

#itad_info_container_header {
	color: white;
    font-size: 0.95em;
	padding: 2px;
	display: inline-block;
}

.itad_info_elem {
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.itad_info_elem_price {
	background-color: #31333a;
    font-size: 0.92em;
    padding: 4px;
	margin: 2px 4px;
	display: block;
    font-weight: normal;
	border-radius: 2px;
}

.itad_info_elem_highlighted {
    font-size: 1.6em;
    padding: 2px;
    margin:1px 0;
    font-weight: bold;
}

.itad_info_elem_price.itad_info_elem_price_lowest .itad_info_elem_highlighted {
    font-weight: normal;
}

.itad_info_elem_cut {
	display: inline-block;
    color: #4CAF50;
    margin: 0 4px 0 2px;
    font-size:0.8em;
}

.itad_info_elem_info {
	margin: 12px;
}

.itad_info_elem_btn {
    display: block;
    padding: 2px;
    font-size: 0.95em;
    font-weight: normal;
    line-height: 20px;
    color: #95969D;
    border-radius: 2px;
	background-color: #282b33;
    margin: 2px 4px;
}

.itad_info_elem_btn--noprice {
    background-color: #282b33;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}
